extend mail_normal

block prepend variables
  - custom.img_sufix = '-p'

block css
  link( href!=handler.static_url('styles/mailing-premium.css'), rel='stylesheet', type='text/css', media='all' )

block attach_bottom
  img( src!=handler.static_url('separator-2.jpg', _static_url), width='524', height='9', alt!='')