#discount {
  table {
    width: 100%;

    td {
      text-align: center;
      padding: 3px 7px 5px;
      font-size: 12px;
    }
  }

  sup {
    font-size: 10px;
    top: 2px;
    position: relative;
  }
}