body, html {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-weight: 100;
}

sup {
  font-size: 6pt;
}

body {
  font-size: 1rem;
  background: #FFF;
  color: $color2;
  font-family: 'DINPro', Arial, Helvetica, sans-serif;
}

#wrap {
  width: 100%;
  max-width: 1024px;
}

.inner {
  width: 90.69%;
  margin: 0 auto;
}

.title {
  color: $color1;
  font-weight: 500;
}

.group-title {
  text-align: center;
}

td.link-content {
  background-color: $color3;
  text-align: center;

  a {
    color: $color1;
  }
}

h1 {
  @include title;
  font-weight: normal;
  margin: 0;
}

.title-content {
  margin: 0 0 9px;

  h1 {
    display: inline;
  }
}

.section {
  // padding: 21px 0 0;
  // padding: 27px 0 0;
  padding: 15px 0 0;
}

small, .small {
  font-size: 11px;
  line-height: 13px;
}

small {
  display: inherit;
}

table
{
  border-collapse: collapse;

  td {
    border: 1px solid $color4;
    padding: 7px;
    box-sizing: border-box;
  }

  td:last-child {
    border-right: 1px solid $color4;
  }

  tr:last-child td {
    border-bottom: 1px solid $color4;
  }

  // cell tipo 1
  .c1 {
    padding: 4px 5px;
  }
}

#alert-1 {
  .cls-1 {
    fill: $color1;
  }
  .cls-2 {
    fill: #FFFFFF;
  }
}

#minus-1 {
  .cls-1 {
    fill: $color1;
  }
}

#plus-1 {
  .cls-1 {
    fill: $color1;
  }
}

#equal-1 {
  .cls-1 {
    fill: $color1;
  }
}

tr, img, .section, .section-group {
  page-break-inside: avoid;
}
