#header {
  // padding-top: 17px;
  padding-bottom: 19px;
  border-bottom: 1px solid $color6;
}

#logo {
  width: 334px;
  height: 82px;
  margin-bottom: 19px;

  .b {
    fill: $color1;
  }
}

#profile {
  width: 58.40%;

  .name-title {
    font-size: 20px;
  }

  .address-title {
    font-size: 11px;
    padding-bottom: 5px;
  }

  .name {
    font-size: 13px;
  }

  td.data {
    text-align: center;
  }

  small {
    display: block;
  }
}

#profile-static {
  width: 40.84%;
  // width: 39%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid $color4;
  box-sizing: border-box;
}

#profile-static-header {
  padding: 13px 21px;

  .title {
    @include title;
  }

  span {
    display: block;
    font-size: 15px;
  }
}

#profile-static-highlight {
  padding: 6px 21px;
  background-color: $color3;

  span {
    display: block;
    font-size: 30px;
  }
}

#profile-static-footer {
  position: absolute;
  left: 0;
  bottom: 10.5%;
  transform: translateY(50%);
  display: block;
  width: 100%;

  small {
    display: block;
    padding: 0 21px;
  }
}

// jubilado
#profile-static.j {
  #profile-static-highlight {
    padding: 2px 21px;
  }
}
// voluntario
#profile-static.v {
  #profile-static-highlight {
    padding: 2px 21px;
  }
}

#profile-content {
  padding-top: 0;

  .inner {
    position: relative;
  }
}
