#discount.section
  .inner
    .title-content
      h1.title Descuentos sobre tu Remuneraci&oacute;n 
      small( style='display: inline;') (Del {{data.fecIniSaldoActual}} al {{data.fecFinSaldoActual}})

    table#discount-table.resume-table(
      cellpadding='0'
      cellspacing='0'
      border='0'
    )
      tr
        td.small.title( style='width: 25%' ) Prima de Seguro
          sup 1

        td.small( style='width: 25%' ) S/ {{data.primaSeguroTotal|default('0.00')}}

        td.small.title( style='width: 25%' ) Comisi&oacute;n AFP

        td.small( style='width: 25%' ) S/ {{data.comisionAfpTotal|default('0.00')}}
