|{% if data.tipoAfiliado|lower != 'j' %}
#discount.section
  .inner
    .title-content
      h1.title Descuentos sobre tu Remuneraci&oacute;n 
      small( style='display: inline; font-size: 9pt;') (Del {{data.fecIniSaldoActual}} al {{data.fecFinSaldoActual}})

    table#discount-table.resume-table(
      cellpadding='0'
      cellspacing='0'
      border='0'
    )
      tr
        td.small.title( style='width: 25%' ) Prima de Seguro
          sup 1

        td.small( style='width: 25%' ) S/ {% if data.primaSeguroTotal %}{{data.primaSeguroTotal|default('0.00')}}{% else %}0.00{% endif %}

        td.small.title( style='width: 25%' ) Comisi&oacute;n AFP

        td.small( style='width: 25%' ) S/ {% if data.comisionAfpTotal %}{{data.comisionAfpTotal|default('0.00')}}{% else %}0.00{% endif %}
|{% endif %}