#end
  #banner
    a( href='https://www.profuturo.com.pe/profuturo-app' target='_blank' )
      block banner
        include banner-2

  #nota-content
    #nota-inner
      h1.title Notas
      .message
        |{% for item in handler.get_param(data, 'MENSAJES') %}
        | {{ item }}
        br
        |{% endfor %}