#found.section
  .inner
    .title-content
      h1.title Movimientos de tu Fondo  
      small( style='display: inline;') (Del 22/mm/aaaa al dd/mm/aaaa)

    table#found-table.resume-table(
      cellpadding='0'
      cellspacing='0'
      border='0'
    )
      tr
        td.small.title( style='width: 9.38%;')
          | Fecha
          br
          | de Proceso

        td.small.title( style='width: 12.71%;') 
          | Mes
          br
          | de Aporte

        td.small.title( style='width: 16.8%;') 
          | Tipo de Aporte

        td.small.title( style='width: 18.64%;') 
          | Movimiento

        td.small.title( style='width: 32.28%;') 
          | Raz&oacute;n Social

        td.small.title( style='width: 10.16%' ) 
          | Soles

      tr
        td.small 06-Jun-18
        td.small May-18
        td.small Obligatorio
        td.small Aporte Mes
        td.small Lorem Ipsum
        td.small 1,390.00
