#found.section
  .inner
    .title-content
      h1.title Movimientos de tu Fondo  
      small( style='display: inline;') (Del {{data.fecIniSaldoActual}} al {{data.fecFinSaldoActual}})

    table#found-table.resume-table(
      cellpadding='0'
      cellspacing='0'
      border='0'
      class!="{% if data.tipoAfiliado|lower == 'v' %}voluntary{% endif %}"
    )
      tr
        td.small.title( style='width: 10.38%;')
          | Fecha
          br
          | de Proceso

        td.small.title( style='width: 12.71%;') 
          | Mes
          br
          | de Aporte

        td.small.title( style='width: 16.8%;') 
          | Tipo de Aporte

        td.small.title( style='width: 18.64%;') 
          | Movimiento

        td.small.title( style='width: 31.28%;') 
          | Raz&oacute;n Social

        td.small.title( style='width: 10.16%' ) 
          | Soles

      |{% set found_table_empty = 0 %}
      |{% set found_table_count_rows = 0 %}
      |{% set found_empty = { 'table_empty': 1, 'row': 0 } %}

      |{% if data.movimientosObl and data.movimientosObl %}
      |{% for item in data.movimientosObl %}

      |{% if
      | item.fecMovim and
      | item.periodoDevengue and
      | item.tipoMovim and
      | item.conceptoMovim and
      | (item.montoMovim and item.montoMovim != '0.00')
      |%}
      |{% do found_empty.update({ 'table_empty': 0, 'row': found_empty.get('row') + 1 }) %}
      tr
        td.small {{item.fecMovim}}
        td.small {{item.periodoDevengue}}
        td.small {{item.tipoMovim}}
        td.small {{item.conceptoMovim}}
        td.small {{item.razonSocial|default('')}}
        td.small {{item.montoMovim}}
      |{% endif %}

      |{% endfor %}
      |{% endif %}

      |{% if data.movimientosVcf and data.movimientosVcf %}
      |{% for item in data.movimientosVcf %}

      |{% if
      | item.fecMovim and
      | item.periodoDevengue and
      | item.tipoMovim and
      | item.conceptoMovim and
      | (item.montoMovim and item.montoMovim != '0.00')
      |%}
      |{% do found_empty.update({ 'table_empty': 0, 'row': found_empty.get('row') + 1 }) %}
      tr
        td.small {{item.fecMovim}}
        td.small {{item.periodoDevengue}}
        td.small {{item.tipoMovim}}
        td.small {{item.conceptoMovim}}
        td.small {{item.razonSocial|default('')}}
        td.small {{item.montoMovim}}
      |{% endif %}

      |{% endfor %}
      |{% endif %}

      |{% if data.movimientosVsf and data.movimientosVsf %}
      |{% for item in data.movimientosVsf %}

      |{% if
      | item.fecMovim and
      | item.periodoDevengue and
      | item.tipoMovim and
      | item.conceptoMovim and
      | (item.montoMovim and item.montoMovim != '0.00')
      |%}
      |{% do found_empty.update({ 'table_empty': 0, 'row': found_empty.get('row') + 1 }) %}
      tr
        td.small {{item.fecMovim}}
        td.small {{item.periodoDevengue}}
        td.small {{item.tipoMovim}}
        td.small {{item.conceptoMovim}}
        td.small {{item.razonSocial|default('')}}
        td.small {{item.montoMovim}}
      |{% endif %}

      |{% endfor %}
      |{% endif %}

      |{% if 
      | data.fecProcesoOblInaf and
      | data.mesRentabilidadOblInaf and
      | data.tipoAporteOblInaf and
      | data.tipoMovimOblInaf and
      | (data.rendimientoPeriodoOblInaf  and data.rendimientoPeriodoOblInaf != '0.00')
      | %}
      |{% do found_empty.update({ 'table_empty': 0, 'row': found_empty.get('row') + 1 }) %}
      tr
        td.small {{data.fecProcesoOblInaf}}
        td.small {{data.mesRentabilidadOblInaf}}
        td.small {{data.tipoAporteOblInaf}}
        td.small {{data.tipoMovimOblInaf}}
        td &nbsp;
        td.small {{data.rendimientoPeriodoOblInaf  }}
      |{% endif %}

      |{% if 
      | data.fecProcesoOblAfec and
      | data.mesRentabilidadOblAfec and
      | data.tipoAporteOblAfec and
      | data.tipoMovimOblAfec and
      | (data.rendimientoPeriodoOblAfec and data.rendimientoPeriodoOblAfec != '0.00')
      | %}
      |{% do found_empty.update({ 'table_empty': 0, 'row': found_empty.get('row') + 1 }) %}
      tr
        td.small {{data.fecProcesoOblAfec}}
        td.small {{data.mesRentabilidadOblAfec}}
        td.small {{data.tipoAporteOblAfec}}
        td.small {{data.tipoMovimOblAfec}}
        td &nbsp;
        td.small {{data.rendimientoPeriodoOblAfec}}
      |{% endif %}

      |{% if 
      | data.fecProcesoCFP and
      | data.mesRentabilidadCFP and
      | data.tipoAporteCFP and
      | data.tipoMovimCFP and
      | (data.rendimientoPeriodoVcf  and data.rendimientoPeriodoVcf  != '0.00')
      |%}
      |{% do found_empty.update({ 'table_empty': 0, 'row': found_empty.get('row') + 1 }) %}
      tr
        td.small {{data.fecProcesoCFP}}
        td.small {{data.mesRentabilidadCFP}}
        td.small {{data.tipoAporteCFP}}
        td.small {{data.tipoMovimCFP}}
        td &nbsp;
        td.small {{data.rendimientoPeriodoVcf}}
      |{% endif %}

      |{% if 
      | data.fecProcesoSFP  and
      | data.mesRentabilidadSFP and
      | data.tipoAporteSFP and
      | data.tipoMovimSFP and
      | (data.rendimientoPeriodoVsf  and data.rendimientoPeriodoVsf != '0.00')
      | %}
      |{% do found_empty.update({ 'table_empty': 0, 'row': found_empty.get('row') + 1 }) %}
      tr
        td.small {{data.fecProcesoSFP}}
        td.small {{data.mesRentabilidadSFP}}
        td.small {{data.tipoAporteSFP}}
        td.small {{data.tipoMovimSFP}}
        td &nbsp;
        td.small {{data.rendimientoPeriodoVsf}}
      |{% endif %}

      |{% if found_empty.get('table_empty') %}
      tr
        td.small &nbsp;
        td.small &nbsp;
        td.small &nbsp;
        td.small &nbsp;
        td.small &nbsp;
        td.small &nbsp;
      |{% else %}

      |{% do found_empty.update({ 'max_lines': 13 }) %}

      |{% if data.tipoAfiliado|lower == 'v' %}
      |{% do found_empty.update({ 'max_lines': 30 }) %}
      |{% elif apv_empty.get('table_hide') and bono_empty.get('table_hide') %}
      |{% do found_empty.update({ 'max_lines': 24 }) %}
      |{% elif apv_empty.get('table_hide')  %}
      |{% do found_empty.update({ 'max_lines': 21 }) %}
      |{% endif %}

      |{% do found_empty.update({ 'max_lines': found_empty.get('max_lines') - found_empty.get('row') }) %}

      |{% if found_empty.get('max_lines') > 0 %}
      |{% for line in range(0, found_empty.get('max_lines')) %}
      tr
        td.small &nbsp; 
        td.small &nbsp; 
        td.small &nbsp; 
        td.small &nbsp;
        td.small &nbsp;
        td.small &nbsp; 
      |{% endfor %}
      |{% endif %}

      |{% endif %}