#header
  #logo
    block logo
      include ../svg/logo.svg

  #profile-content
    .inner
      table#profile(
        cellpadding='0'
        cellspacing='0'
        border='0'
      )
        tr
          td( colspan='4' ) 
            span.title.name-title Nombre: 
            span.name  {{data.nomCliente}}

        tr
          td( colspan='4' )
            small.title.address-title Direcci&oacute;n:
            small( style='display:block;min-height:39px;') 
              |{% if data.desDirecc1 %}
              |{{data.desDirecc1}}
              br
              |{% endif %}

              |{% if data.desDirecc2 %}
              |{{data.desDirecc2}}
              br
              |{% endif %}

              | {{data.desDirecc3}}
        
        tr
          td.c1.title.small( style!="width: {% if data.tipoAfiliado|lower == 'j' %}30%{% else %}20.81%{% endif %}" )
            | CUSPP

          td.c1.title.small( style!="width: {% if data.tipoAfiliado|lower == 'j' %}70%{% else %}32.17%{% endif %}" ) 
            |{% if data.tipoAfiliado|lower == 'j' %}
            | Tipo y N&uacute;mero de Documento de Identidad
            |{% elif data.tipoAfiliado|lower == 'v' %}
            | Tipo y N&uacute;mero de Documento
            br
            | de Identidad
            |{% else %}
            | Tipo y N&uacute;mero de
            br
            | Documento de Identidad
            |{% endif %}

          |{% if data.tipoAfiliado|lower != 'j' %}
          |{% if data.tipoAfiliado|lower != 'v' %}
          td.c1.small.title( style='width: 24.9%' )
            | Esquema de 
            br
            | cobro de Comisi&oacute;n
          |{% endif %}

          td.c1.title.small( style='width: 21.74%' )
            |{% if data.tipoAfiliado|lower == 'v' %}
            | &Uacute;ltimo mes de aporte
            |{% else %}
            | &Uacute;ltimo mes
            br
            | de aporte
            |{% endif %}
          |{% endif %}
        tr
          td.c1.data
            small {{data.idNss}}

          td.c1.data( style='width: 32.17%' )
            small {{data.numDocume}}

          |{% if data.tipoAfiliado|lower != 'j' %}
          |{% if data.tipoAfiliado|lower != 'v' %}
          td.c1.data( style='width: 23.9%' )
            small {{data.tipoComision}}
          |{% endif %}

          td.c1.data( style='width: 22.74%' )
            small {{data.ultMesAporte}}
          |{% endif %}

      #profile-static.table( class!="{{ data.tipoAfiliado|lower }}" )
        #profile-static-header
          span.title Tu ahorro en Profuturo
          span {{data.fecReporte}}

        #profile-static-highlight
          span S/ {{data.saldoTotal}}

        #profile-static-footer
          small {{data.fecLargaSaldoActual}}
